*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.parent{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
   
}
.child{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    gap: 5px;
}
.child1{
    background-color: rgb(119, 0, 255);
}
.child2{
    background-color: rgb(255, 0, 0);
}
.section2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.parent2{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
   
}
.childA{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: start ;
    align-items: end;
    color: aliceblue;
    background-color: aquamarine;
    gap: 5px;
}
.childB{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: end ;
    color: aliceblue;
    background-color: aquamarine;
    gap: 5px;
}
.in1{
    height: 50%;
    width: 50%;
    justify-content: start;
    align-items: start;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    gap: 5px;
}
.in2{
    height: 50%;
    width: 50%;
    justify-content: start;
    align-items: start;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    gap: 5px;
}
 
.section3{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.parent3{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.box1{
    height: 50%;
    width: 50%;
    align-items: center;
    color: aliceblue;
    background-color: aquamarine;
    gap: 5px;
}
.box2{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: rgb(255, 17, 0);
    gap: 5px;
}
.boxIn{
    height: 50%;
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    color: aliceblue;
    background-color: rgb(255, 255, 255);
    gap: 5px;
}
.box3{
    height: 50%;
    width: 50%;
    align-items: center;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    gap: 5px;
}
.section4{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.parent4{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.section4box1{
    height: 50%;
    width: 50%;
    align-items: center;
    color: aliceblue;
    background-color: rgb(255, 0, 0);
    gap: 5px;
}
.section4box2{
    height: 50%;
    width: 50%;
    align-items: center;
    color: aliceblue;
    background-color: rgb(38, 0, 255);
    gap: 5px;
}
.section4box3{
    height: 50%;
    width: 50%;
    align-items: center;
    color: aliceblue;
    background-color: rgb(255, 238, 0);
    gap: 5px;
}
.section4box4{
    height: 50%;
    width: 50%;
    color: aliceblue;
    gap: 5px;
}
.sec4inBox1{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: start ;
    align-items: end;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    gap: 5px;
}
.sec4inBox12{
    height: 50%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    gap: 5px;
}